<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.thdev.media_projection_library">

    <application>

        <activity
            android:name=".ui.MediaProjectionAccessActivity"
            android:theme="@style/Theme.Transparent" />

        <service
            android:name=".ui.MediaProjectionAccessService"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>